@font-face {
    font-family: 'inter';
    src: url(fontes/Inter-Regular.ttf) format('ttf');
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'inter', sans-serif;
    
}
body{
    background-image: url('img_css/Sobre.png');
    background-repeat: no-repeat;
    background-size: cover;
}

li, a {
    font-family: 'inter', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: white;
    text-decoration: none;
    
    
}
a{
    border-bottom: 1px solid white;
    padding-bottom: 3px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;

}


.logo{
    width: 130px;
    height: 65px;
    cursor: pointer;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: #A248E9;
    border-color: #A248E9;
}

.destaq{
    border-color: #A248E9;
}

.destaq:hover{
    text-shadow: 2px 2px 4px #a232be;;
}

.texto{
    display: grid;
    place-items: center;
    height: 80vh;
    font: 'inter', sans-serif;
}

.texto p {
    text-align: justify;
}

.text01 {
    font-size: 30px;   
    width: 70%;
}
.text02 {
    font-size: 30px;   
    width: 70%;
}   

.topic01 {
    font-size: 35px;
    text-align: left;
    padding-bottom: 20px;
}
.topic02 {
    font-size: 35px; 
    text-align: right;
    padding-bottom: 20px;
}
.topic03 {
    font-size: 35px; 
    padding-left: 260px;
    margin-top: 11%;
    font: 'inter', sans-serif;
}

.boxes {
    display: grid;
    place-items: center;
}

.box, .box2, .box3, .box4{
    background-image: linear-gradient(to bottom, rgba(15, 3, 31, 0.87), rgba(0, 0, 0, 0.87));
    
    display: grid;
    place-items: center;

    width: 1200px;
    height: 350px;

    border: 1px solid black;
    border-radius: 25px;

    margin-top: 10px;
    margin-bottom: 98px;


}

.box2{
    margin-bottom: 125px;
}
.box3{
    margin-bottom: 125px;
}
.box4{
    margin-bottom: 125px;
}



.roxinho, .roxinhod{
    width: 1200px;
    height: 350px;
    
    padding-left: 120px;
    padding-right: 120px;
    
    display: flex;
    align-items: center;
    font-size: 35px;
    text-align: left;
}

.roxinho p{
    word-spacing: 5px;
    line-height: 60px;
    padding-left: 120px;
}


.membro {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.roxinhod{
    margin-bottom: 500px;
}
#direita{
    margin-bottom: 100px;
}
#direita p{
    width: 100%;
    word-spacing: 5px;
    line-height: 60px;
}

@media screen and (min-width: 600px) and (max-width: 1375px){
    .texto{
        height: 70vh;
    }
    .text01 {
        font-size: 19px;  
    }
    .text02 {
        font-size: 19px;  
    }   
    
    .topic01 {
        font-size: 24px;
    }
    .topic02 {
        font-size: 24px; 
    }
    .topic03 {
        font-size: 24px; 
        margin-top: 40%;
    }
    
}