* {  
    font-family: 'inter', sans-serif;  
}

body{
    background-image: url('images/fundo_shadow.png');
}

/* Conteudo principal */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
    padding-bottom: 25px;
}

.boxes {
    width: 70%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

.box {
    background-image: linear-gradient(to bottom, rgba(15, 3, 31, 0.87), rgba(0, 0, 0, 0.87));
    width: 100%;
    padding: 20px;
    text-align: center;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 1px solid black;
    border-radius: 25px;
}



.box ul {
    list-style: none;
    text-align: start;

    /*display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);*/
}

.box li{
    font-family: 'inter', sans-serif;

    font-size: 19px;
    color: white;

}

.flex{
    display: flex;
    padding: 10px 10px 10px 10px;
    justify-content: space-between;
}

#name{
    margin-right: 50px;
}

#map{
    position: relative;
    width: 400px;
    height: 200px;
    background: white;
}


@media screen and (min-width: 600px) and (max-width: 1375px){
    main{
        padding-bottom: 20px;
    }
    .boxes{
        width: 85%;
    }
    .box {
        width: 100%;
    }
    .box li{
        font-size: 15px;
    }
}