@font-face {
    font-family: 'inter';
    src: url(fontes/Inter-Regular.ttf) format('ttf');
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'inter', sans-serif;
    
}
body{
    background-image: url('images/fundo_quiz.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.botao_desistir{
    border: 5px solid #FF0909;
    width: 330px;
    height: 61.29px;
    border-radius: 30px 0px 30px 0px;
    box-shadow: 0 0 0px #FF0909, 0 0 0px #FF0909, 0 0 30px #FF0909;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 130px;
}
.bot{
    font-family: 'inter', sans-serif;
    color: white;
    font-size: 35px;
    background: none;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);
    border: none;
}
.button2{
    font-family: 'inter', sans-serif;
    text-align: center;
    color: white;
    font-size: 70px;
    background: none;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);
    border: none;
}
.botao_passar{
    margin-top: 50px;
    margin-left: 5px;
    margin: 65px;
    border: 5px solid #076790;
    width: 114px;
    height: 67px;
    border-radius: 30px 0px 30px 0px;
    box-shadow: 0 0 0px #076790, 0 0 0px #076790, 0 0 30px #076790;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}
.centro{
    display: flex;
    justify-content: center;
    place-items: center;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.caixa_pergunta{
    border: 5px solid #076790;
    width: 1081px;
    height: 157px;
    border-radius: 15px;
    box-shadow: 0 0 0px #076790, 0 0 0px #076790, 0 0 30px #076790;
    justify-content: center;
    display: grid;
    place-items: center;
    margin: 30px;
}
.caixa_resposta{
    border: 5px solid #E423EC;
    width: 503px;
    height: 157px;
    border-radius: 15px;
    box-shadow: 0 0 0px #E423EC, 0 0 0px #E423EC, 0 0 30px #E423EC;
    justify-content: center;
    display: grid;
    place-items: center;
    margin: 30px;
}
.pergunta{
    font-family: 'inter', sans-serif;
    text-align: center;
    color: white;
    font-size: 35px;
    background: none;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);
    border: none;
}