@font-face {
  font-family: 'inter';
  src: url(fontes/Inter-Regular.ttf) format('ttf');
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'inter', sans-serif;
    
}
body{
  background-image: url('images/fundo_quiz.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}
.logo{
  width: 123px;
  height: 65px;
  cursor: pointer;
}
.botao_desistir{
  border: 5px solid #FF0909;
  width: 330px;
  height: 61.29px;
  border-radius: 30px 0px 30px 0px;
  box-shadow: 0 0 0px #FF0909, 0 0 0px #FF0909, 0 0 30px #FF0909;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 130px;
  cursor: pointer;
}
.bot{
  font-family: 'inter', sans-serif;
  color: white;
  font-size: 35px;
  background: none;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);
  border: none;
  cursor: pointer;
  padding: 4% 27%;
}
.botao_passar{
  cursor: pointer;

  margin-top: 50px;
  width: 114px;
  height: 67px;

  border: 5px solid #076790;
  box-shadow: 0 0 0px #076790, 0 0 0px #076790, 0 0 30px #076790;
  border-radius: 30px 0px 30px 0px;
}
.button2{
  font-family: 'inter', sans-serif;
  
  color: white;
  font-size: 50px;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);

  background: none;
  border: none;
}
.button2 a{
  text-decoration: none;
  padding-left: 100%;
  padding-right: 100%;
}

.centro{
  display: flex;
  justify-content: center;
  place-items: center;
}
.caixa_pergunta{
  border: 5px solid #076790;
  width: 1081px;
  height: 175px;
  border-radius: 15px;
  box-shadow: 0 0 0px #076790, 0 0 0px #076790, 0 0 30px #076790;
  justify-content: center;
  display: grid;
  place-items: center;
  margin: 30px;
}

.gridando{
  display: grid;

}
.pergunta{
  font-family: 'inter', sans-serif;
  text-align: center;
  color: white;
  font-size: 35px;
  background: none;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);
  border: none;
}

/*Estilizando o botão input*/
form{
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  width:1090px;

}
.caixa_resposta{
  background-color: #fff;
  border: 2px solid #E423EC;
  box-shadow: 0 0 0px #E423EC, 0 0 0px #E423EC, 0 0 30px #E423EC;
  
  border-radius: 10px;
  width: 500px;
  height: 100px;
  margin: 15px;

  cursor: pointer;
  box-sizing: border-box;
  position: relative;

}

.caixa_resposta label { 
  display: flex;
  align-items: center; /* Alinha o conteúdo ao topo */
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 100%; 
}

.texto_resposta{
  color:black;
  margin-left: 10px;
  margin-right: 10px;
  white-space: normal;
}

.caixa_resposta label input[type=radio] {
  all: unset;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  
}

.caixa_resposta label input[type=radio]:checked + .texto_resposta{
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(229, 186, 249);
  color:black;
  margin: 0;
  width: 100%;
  height: 100%;
}

.caixa_resposta.correto {
  border:50px solid #00FF00;
}

.caixa_resposta.incorreto {
  border:50px solid #FF0000;
}

@media screen and (min-width: 600px) and (max-width: 1375px) {
  .botao_desistir{
    width: 250px;
    height: 50px;
    margin-right: 20px;
  }
  .bot{
    font-size: 25px;
  }
  .caixa_pergunta{
    width: 1010px;
    height: 130px;
    margin-top: 10px;

}
  .pergunta{
    font-size: 24px;
  } 

  .caixa_resposta {
    width: 450px;
    height: 75px;
  }

  .caixa_resposta label span {
    font-size: 13px;
  }
  .caixa_resposta label input[type=radio] {
    align-items: center;
  }
  
  .caixa_resposta.correto {
    border:38px solid #00FF00;
  }
  
  .caixa_resposta.incorreto {
    border:38px solid #FF0000;
  }

  .botao_passar{
    margin: 0px;
    width: 100px;
    height: 57px;
  }
  .button2{
    font-size: 38px;
  }
  .button2 a{
    padding-left: 32px;
    padding-right: 32px;
  }
}