body{
    background-image: url('images/fundo_quiz.png');
    background-attachment: fixed;
}

/*Conteudo*/
.escolha{
  
    height: 86vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.escolha h1{
    font-size: 35px;
    font-family: 'ethnocentric', sans-serif;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 55px;
    text-shadow: 0 0 0px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255), 0 0 5px rgb(255, 255, 255);
}

.bloco{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    width: 400px;
    height: 500px;

    margin-left: 50px;
    margin-right: 50px;
}

.circle-container {
    display: flex;
    margin-top: 50px;
}
.circle {
    width: 200px;
    height: 200px;
    border: 3px solid #E423EC; 
    border-radius: 50%;
    margin: 10px;
    text-shadow: 0 0 10px #E423EC, 0 0 20px #E423EC, 0 0 30px #E423EC;
    margin-bottom: 50px;
}

.bloco h3{
    font-size: 30px;
    margin-bottom: 15px;
    text-align: center;
}

.bloco p {
    font-size: 20px;
    text-align: center;
}
.bloco a{
    text-decoration: none;
    border: 0px;
}

.circle img{
    width: 150px;
    height: 150px;
    
    margin-left: 11%;
    margin-top: 11%;
}

@media screen and (min-width: 600px) and (max-width: 1375px){
    .escolha h1{
        margin-top: 20px;
        margin-bottom: 0px;
        font-size: 28px;
        font-family: 'ethnocentric', sans-serif;  
    }
    .circle-container {
        width: 90%;
        margin-top: 0px;
    }
    .circle {
        width: 180px;
        height: 180px; 
        margin-top: 0px;
        margin-bottom: 50px;
    }
    .circle img{
        width: 140px;
        height: 140px;
        
        margin-left: 11%;
        margin-top: 8%;
    }
    .bloco h3{
        font-size: 22px;
    }
    
    .bloco p {
        font-size: 13px;
    }
}
