<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='escolha.css') }}" rel="stylesheet">
    <title>Tech Trivia</title>
</head>
<body>
    <img src="C:/Users/filip/OneDrive/Imagens/logo_quiz.png" alt="Logo Quiz" class="logo">
    <div class="navbar">
        <a href="#">Home</a>
        <a href="#">Sobre</a>
        <a href="#">Contatos</a>
    </div>
    <h1>Escolha um Quiz</h1>
    <div class="circle-container">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
    </div>
</body>
</html>