{% extends 'base.html' %}

{% block head %} 
    <title>Tech Trivia</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
{% endblock %}

{% set active_page = 'home' %}

{% block conteudo %}
    <div class="geral">
        <div class="box1">
            <div class="esq" id="esq_p"></div>
            <div class="esq" id="esq_s"></div>
        </div>
        <div class="centralize">
            <div class="apresentacao">
                <h1>TECH TRIVIA</h1>
                <p>O quiz é um desafio para avaliar seus  conhecimentos nas áreas de Cloud Computing, 
                    Maturidade em Dev. de Software e Python. Este quiz abrange tópicos cruciais nessas 
                    disciplinas, permitindo que você teste e aprimore suas habilidades. Ao participar, 
                    você terá a oportunidade de explorar e aprofundar seus conhecimentos em temas fundamentais.</p>
                <div class="botao_quiz">
                    <a href="{{ url_for('quiz') }}">
                        <button class="bot">QUIZ</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="box2">
            <div class="dir" id="dir_p"></div>
            <div class="dir" id="dir_s"></div>
        </div>
    </div>
{% endblock %}