{% extends 'base.html' %}

{% block head %} 
    <title>Tech Trivia - Quiz</title>
    <link href="{{ url_for('static', filename='quiz.css') }}" rel="stylesheet">
{% endblock %}

{% block conteudo %}
    
        <div class="escolha">
            <h1>ESCOLHA UM QUIZ</h1>
            <div class="circle-container">
                <div class="bloco">
                    <a href="{{ url_for('perguntas') }}"><div class="circle"><img class="py" src="{{ url_for('static', filename='images/pczin.png') }}" alt="python"></div></a>
                    <h3>Programação em Python</h3>
                    <p>Python é uma linguagem versátil e fácil de aprender, 
                        amplamente usada em desenvolvimento web e ciência de 
                        dados.</p>
                </div>
                <div class="bloco">
                    <a href="{{ url_for('perguntas') }}"><div class="circle"><img class="matu" src="{{ url_for('static', filename='images/niveis.png') }}" alt="niveis"></div></a>
                    <h3>Maturidade em Dev. de Software</h3>
                    <p>A maturidade em desenvolvimento de software é alcançada 
                        com processos definidos e automação, resultando em 
                        produtos mais confiáveis e eficazes.</p>
                </div>
                <div class="bloco">
                    <a href="{{ url_for('perguntas') }}"><div class="circle"><img class="nuve" src="{{ url_for('static', filename='images/nuven.png') }}" alt="nuvem"></div></a>
                    <h3>Cloud Computing</h3>
                    <p>Cloud computing oferece escalabilidade e eficiência por 
                        meio do acesso a recursos de computação e armazenamento 
                        via internet.</p>
                </div>
            </div>
        </div>
        
{% endblock %}